/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #E53600;
  --ifm-color-primary-dark: #CE3000;
  --ifm-color-primary-darker: #C22D00;
  --ifm-color-primary-darkest: #A02500;
  --ifm-color-primary-light: #FC3C00;
  --ifm-color-primary-lighter: #FF4810;
  --ifm-color-primary-lightest: #FF6A3D;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FF3D00;
  --ifm-color-primary-dark: #E53600;
  --ifm-color-primary-darker: #D93300;
  --ifm-color-primary-darkest: #B32A00;
  --ifm-color-primary-light: #FF541A;
  --ifm-color-primary-lighter: #FF6026;
  --ifm-color-primary-lightest: #FF8559;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
